---
---

@import "minima";

.post-link {
  display: block;
  font-size:18px;
}

blockquote {
  color: #606060;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 16px;
  font-style:normal;
  letter-spacing: 0;
}

.post-list > li {
    margin-bottom: 20px;
}

.footer-col-1 {
  width: -webkit-calc(25% - (#{$spacing-unit} / 2)); !important
  width:         calc(25% - (#{$spacing-unit} / 2)); !important
}

.footer-col-2 {
  width: -webkit-calc(30% - (#{$spacing-unit} / 2)); !important
  width:         calc(30% - (#{$spacing-unit} / 2)); !important
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2)); !important
  width:         calc(45% - (#{$spacing-unit} / 2)); !important
}
