p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}



.mysummary {
  padding: 1em 1em 0.6em 1em;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
  border: 1px solid #ccc;
  border-radius:4px;
}

.myanswers {
  padding: 1em 1em 0.6em 1em;
  background: #f5f5f5 5px center/3em no-repeat;
  border: 1px solid #ccc;
  border-radius:4px;
}

.mysummary ul {
  margin-bottom: 0.4em !important;
}

.book.color-theme-1 .mysummary {
  background: #fdf6e3; 5px center/3em no-repeat;
  border: 1px solid #F5D98B;
}

.book.color-theme-2 .mysummary {
  background: #2d3143; 5px center/3em no-repeat;
  border: 1px solid #2d3143;
}



div.theorem, div.example, div.proof, div.definition, div.lemma, .thpart {
  padding: 1em 1em 0.8em 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius:4px;
}

.myanswers {
  padding: 1em 1em 0.8em 1em;
  margin-top: 10px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius:4px;
}

div.theorem p:nth-child(1), div.example p:nth-child(1), div.proof p:nth-child(1), div.definition p:nth-child(1), div.lemma p:nth-child(1), .thpart p:nth-child(1), .mysummary p:nth-child(1), .myanswers p:nth-child(1), .myq p:nth-child(1) {
  text-indent: 0px;
}

.book.color-theme-1 div.theorem, .book.color-theme-1 div.example, .book.color-theme-1 div.proof, .book.color-theme-1 div.definition, .book.color-theme-1 div.lemma, .book.color-theme-1 .thpart,  .book.color-theme-1 .myanswers {
  border: 1px solid #F5D98B;
}

.book.color-theme-2 div.theorem, .book.color-theme-2 div.example, .book.color-theme-2 div.proof, .book.color-theme-2 div.definition, .book.color-theme-2 div.lemma, .book.color-theme-2 .thpart, .book.color-theme-2 .myanswers  {
  border: 1px solid #2d3143;
}



p + p {
  text-indent: 20px;
}

p {
  margin-bottom: 0.2em !important;
  margin-top: 0 !important;
}

.myq {
  padding-top: 20px;
}


.subq {
  margin-left: 40px;
}

.subq p {
  text-indent: 0;
}

.subq p + p {
  text-indent: 20px;
}

.book .book-body .page-wrapper .page-inner section.normal h1 {
    font-size:1.85em
}

.book .book-body .page-wrapper .page-inner section.normal h2 {
    font-size:1.4em
}

.book .book-body .page-wrapper .page-inner section.normal h3 {
    font-size:1.15em
}


.math.inline, .math.display { font-size: 95% !important; }


/*
.math.display {
  display: block;
  overflow-x: scroll;
}
*/