<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  {% if page.gallery %}
  <link href="../assets/lightbox3.css" rel="stylesheet" />
  {% endif %}
  
  {% if page.use_math %}
  {% include mathjax_support.html %}
  {% endif %}
  
  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    {% if page.gallery %}
    <script src="lightbox3.min.js"></script>
    {% endif %}

  </body>

</html>
